.form-container {
    width: 60%;
    min-height: 300px;
    background-color: var(--color-primary);
    margin: 20px auto;
    padding: 10px;
}

h3 {
    text-align: center;
    color: white;
    font-size: 32px;
}

h3 > span {
    color: var(--color-secondary);
}

.input-container {
    margin: 20px 0;
}

.form-input {
    outline: none;
    padding: 5px 10px;
    border: 2px solid white;
    background-color: transparent;
    color: var(--color-secondary);
    width: 100%;
    margin-top: 3px;
}

.form-input::placeholder {
    color: inherit;
    font-style: italic;
}

label {
    color: white;
    min-width: 100px;
}

.button-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
