body {
    background-color: rgb(234, 241, 251);
}

header {
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.header-image {
    width: 225px;
    height: 50px;
    overflow: hidden;
}

.header-image > img {
    width: 225px;
    height: 50px;
    object-fit: cover;
}

.btn {
    padding: 8px 15px;
    background-color: transparent;
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    cursor: pointer;
    position: relative;
    z-index: 10;
    overflow: hidden;
    font-weight: bold;
}

.btn::before {
    content: "";
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
    z-index: -1;
}

.btn:hover::before {
    left: 0;
    transition: all 0.5s;
}

.btn:hover {
    color: var(--color-primary);
}
